---
import { FIRM } from '../../lib/constants';
---
<div class="text-sm text-[oklch(0.78_0.01_240)] space-y-2 max-w-prose">
  <p>{FIRM.attorneyAdvertising}</p>
  <p>{FIRM.jurisdictionDisclaimer}</p>
  <p>{FIRM.noAttorneyClientDisclaimer}</p>
</div>
